{% extends 'base.html' %}
{% block title %}{{data['name']}}{% endblock %}
{% block content %}
<section id='assignment-details'>
	<div class='container'>
		<div class='row'>
			<div class='card'>
				<div class='card-body'>
				<h2>{{data['name']}}</h5>
				<h5><b>Due: </b>{{due_date}}</h6>
				<h5><b>Status: </b>{{data['submission']['workflow_state'].title()}}</h5>
				<h5><b>Grade: </b>{{data['submission']['score']}}/{{data['points_possible']}}</h5>
				<p>{{data['description']}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}