@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

body{
  font-family: 'Quantico', sans-serif;
  background: #fefefa;
  overflow-x: hidden;
  overflow-y: auto;
  /*background-color: #4158D0;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  background-attachment: fixed !important;
  font-family: 'Bebas Neue', cursive;*/
}
.topnav{
  background-color: #191919;
  text-align: center;
}
.topnav a{
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
  display: inline-block;
  padding: 0px 50px;
}
.topnav a:hover{
  color: #a1caf1;
  transition: 1s;
}
.home h1{
  text-align: center;
  font-size: 150px;
  margin-top: 50px;
  text-transform: uppercase;
}
.home p{
  text-align: center;
  font-size: 50px;
}
.box{
  border-radius: 20px;
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
.card{
  width: 420px;
  height: 160px;
  margin-top: 20px;
  text-align: center;
}
.card:hover{
  background: #a1caf1;
  transition: 1s;
}